@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

body {
  align-items: center;
  font-family: "Berkshire Swash", cursive;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
